<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" name="name" required>
      </mat-form-field>
      <div></div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" name="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
      </mat-form-field>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="registerForm.invalid" (click)="register()" color="primary">Create Account</button>
    <div></div>
    <button mat-raised-button (click)="cancel()" color="secondary">Cancel</button>
  </mat-card-actions>
</mat-card>