/**
 * Flexbox grid
 */

 @mixin flex-basis($width:auto) {
	flex-basis: $width;
}

@mixin flex-grow($grow:1) {
	flex-grow: $grow;
}

@mixin flex-shrink($shrink:1) {
	flex-shrink: $shrink;
}

@mixin flex-fixed($width:auto) {
	@include flex-basis($width);
	@include flex-grow(0);
	@include flex-shrink(0);
	width: $width;
}

// Mixin for overriding fixed width with flex width
@mixin flex-override {
	box-flex: 1;
	flex: 1 1 0;
	flex-grow: 1;
	flex-basis: 100%;
	max-width: 100%;
}

@mixin row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	width: 100%;
	box-sizing: border-box;
}

@mixin table-auto {
	flex: 1 1 auto;
	flex-basis: auto;
	flex-grow: 1;
	width: auto;
}

@mixin flex-left {
	justify-content: flex-start;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	text-align: left;
}

@mixin flex-right {
	justify-content: flex-end;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	text-align: right;
}

@mixin flex-center {
	justify-content: center;
	text-align: center;
}

@mixin flex-top {
	vertical-align: top;
}

@mixin flex-middle {
	vertical-align: middle;
	justify-content: center;
	display: flex;
	flex-flow: column;
}

@mixin flex-bottom {
	vertical-align: bottom;
}

@mixin flex-push-1 {
	left: 8.333333333333334%;
}

@mixin flex-push-2 {
	left: 16.666666666666668%;
}

@mixin flex-push-3 {
	left: 25%;
}

@mixin flex-push-4 {
	left: 33.333333333333336%;
}

@mixin flex-push-5 {
	left: 41.66666666666667%;
}

@mixin flex-push-6 {
	left: 50%;
}

@mixin flex-push-7 {
	left: 58.333333333333336%;
}

@mixin flex-push-8 {
	left: 66.66666666666667%;
}

@mixin flex-push-9 {
	left: 75%;
}

@mixin flex-push-10 {
	left: 83.33333333333334%;
}

@mixin flex-push-11 {
	left: 91.66666666666667%;
}

@mixin flex-pull-1 {
	right: 8.333333333333334%;
}

@mixin flex-pull-2 {
	right: 16.666666666666668%;
}

@mixin flex-pull-3 {
	right: 25%;
}

@mixin flex-pull-4 {
	right: 33.333333333333336%;
}

@mixin flex-pull-5 {
	right: 41.66666666666667%;
}

@mixin flex-pull-6 {
	right: 50%;
}

@mixin flex-pull-7 {
	right: 58.333333333333336%;
}

@mixin flex-pull-8 {
	right: 66.66666666666667%;
}

@mixin flex-pull-9 {
	right: 75%;
}

@mixin flex-pull-10 {
	right: 83.33333333333334%;
}

@mixin flex-pull-11 {
	right: 91.66666666666667%;
}

@mixin flex-around {
	justify-content: space-around;
}

@mixin flex-between {
	justify-content: space-between;
}

@mixin flex-first {
	order: -1;
}

@mixin flex-last {
	order: 1;
}

@mixin flex-reverse {
	flex-direction: row-reverse;
}

@mixin flex-forward {
	flex-direction: row;
}

@mixin flex-col {
	text-overflow: ellipsis;
	box-flex: 1;
	flex: 1 1 0;
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
	width: 0;
}

@mixin flex-col-12 {
	text-overflow: ellipsis;
	flex-basis: 100%;
	max-width: 100%;
}

@mixin flex-col-11 {
	text-overflow: ellipsis;
	flex-basis: 91.667%;
	max-width: 91.667%;
}

@mixin flex-col-10 {
	text-overflow: ellipsis;
	flex-basis: 83.333%;
	max-width: 83.333%;
}

@mixin flex-col-9 {
	text-overflow: ellipsis;
	flex-basis: 75%;
	max-width: 75%;
}

@mixin flex-col-8 {
	text-overflow: ellipsis;
	flex-basis: 66.667%;
	max-width: 66.667%;
}

@mixin flex-col-7 {
	text-overflow: ellipsis;
	flex-basis: 58.333%;
	max-width: 58.333%;
}

@mixin flex-col-6 {
	text-overflow: ellipsis;
	flex-basis: 50%;
	max-width: 50%;
}

@mixin flex-col-5 {
	text-overflow: ellipsis;
	flex-basis: 41.667%;
	max-width: 41.667%;
}

@mixin flex-col-4 {
	text-overflow: ellipsis;
	flex-basis: 33.333%;
	max-width: 33.333%;
}

@mixin flex-col-3 {
	text-overflow: ellipsis;
	flex-basis: 25%;
	max-width: 25%;
}

@mixin flex-col-2 {
	text-overflow: ellipsis;
	flex-basis: 16.667%;
	max-width: 16.667%;
}